.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #aac960;
    color: black;
    text-align: center;
}

.navbar{
    background-color: #aac960!important;
}