.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #aac960!important;
    color: white;
    display: inline;
    clear: both;
    height: 5%;
    z-index: 100;
}

.footer a {
    color: #f2f2f2;
    text-align: center;
    width: 25%;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer a:hover {
    background-color: #4CAF50;
    color: black;
}

.left {
    margin-top: 0.6%;
    float: left;
}

.right {
    float: right;
    margin-top: 0.6%;
}